<!DOCTYPE html>
<html>
  <head>
	  <title><%= content_for?(:title) ? yield(:title) + " - #{APPLICATION_NAME}" : "#{APPLICATION_NAME}" %></title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  <%= csrf_meta_tags %>

  </head>

  <body>
	
	    <%= render 'shared/user_header' %>
	  <div class="container">
		  <%= render 'layouts/notifications' %>

      <%= yield %>
	  </div>
	  <script type="text/javascript">
	  	
	  	$(document).ready(function(){


	if($("#users-datatable").length <= 1){
		assing_datatable("#users-datatable");
		
	}
});

	  </script>
  </body>
</html>
